@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Zen Maru Gothic', sans-serif;
}

body {
    background-color: lightblue;
}

/* .gameContainer {
    width: 700px;
    height: 500px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: powderblue;
    border-radius: 4px;
} */

.playBtn,
.rulesBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Start game button styling*/
.playBtn button{
    color: black;
    background-color: azure;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    border: solid;
    padding: 10px 35px;
    border-radius: 6px;
}

.rulesBox {
    display: none;
    width: 700px;
    background: white;
    border-radius: 4px;
}

.rulesTitle {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
}

.rulesList {
    padding: 15px 35px;
}

.rules {
    margin: 5px 0;
    font-size: 16px;
}

.rules span {
    font-weight: 700;
    color: dodgerblue;
}

.rulesBox .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgray;
}

.buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid lightgray;
    border-radius: 4px;
    color: dodgerblue;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
