@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Zen Maru Gothic', sans-serif;
}

body {
    background-color: lightblue;
}

/* sets rules, quiz, highscore history, highscore form boxes in middle of page */
.rulesBox,
.quizBox,
.highscoreBox,
.highscoreForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Rules box styles */
.rulesBox {
    width: 700px;
    background: white;
    border-radius: 4px;
}

.rulesTitle {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
}

.rulesList {
    padding: 15px 35px;
}

.rules {
    margin: 5px 0;
    font-size: 16px;
}

.rules span {
    font-weight: 700;
    color: dodgerblue;
}

/* styles rules box buttons flex box */
.rulesBox .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgray;
}

/* to show or hide rules box in JS */
.rulesBox.deactRules{
    display: none;
}

/* styles for all buttons on page */
.buttons button,
footer button,
.highscoreForm button {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid lightgray;
    border-radius: 4px;
    color: dodgerblue;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

/* quiz box styles */
.quizBox {
    width: 600px;
    height: 475px;
    background: white;
    border-radius: 4px;
}

.quizBox header{
    height: 70px;
    padding: 0 30px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid lightgray;
}

.quizBox.quizTitle{
    font-size: 20px;
    font-weight: 600;
}    

/* timer flex box */
.quizBox.quizTimer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    height: 45px;
    background: azure;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 0px 25px;
}

.timerText{
    font-weight: 400;
    font-size: 16px;
}

/* styles the timer display */
#timerMins{
    font-size: 18px;
    font-weight: 600;
    background: lightslategray;
    color: white;
    text-align: center;
    border-radius: 8px;
    line-height: 27px;
    height: 30px;
    width: 45px;
}

/* to show or hide the quiz box in JS */
.quizBox.deactQuizBox {
    display: none;
}

/* styles quiz box questions and answers section */
.quizBox section{
    padding: 25px 30px 20px;
}

.questions{
    font-size: 20px;
    font-weight: 600;
}

.answerList{
    padding: 20px 0;
    display: block;
}

.choice{
    background: azure;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 8px 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

/* highscore history box styles */
.highscoreBox {
    width: 400px;
    height: 600px;
    background: white;
    border-radius: 4px;
}

.highscoreBox header{
    height: 70px;
    padding: 0 30px;
    font-size: 25px;
    font-weight: 600;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid lightgray;
}

/* highscore list flex box */
.highscoreList{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 10px  20px;
    margin: 10px;
    text-decoration: underline;
}

/* styles the li elements in JS */
.history{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 10px  20px;
    margin: 10px;
}

/* shows or hides highscore box in JS */
.highscoreBox.deactHighscoreBox {
    display: none;
}

/* styles the highscore form box */
.highscoreForm {
    width: 400px;
    height: 400px;
    background: white;
    border-radius: 4px;
}

/* shows or hides highscore form in JS */
.highscoreForm.deactHighscoreForm {
    display: none;
}

/* "game over" header on highscore form */
.highscoreForm header{
    height: 70px;
    padding: 0 30px;
    font-size: 25px;
    font-weight: 600;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid lightgray;
}

/* styles the highscore form box form section */
.highscoreForm form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;
}